//Bootstrap variables
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$red: #B4292E;
$white: white;
$lightblue:#6A8DC6;
$orange: #CB8F32;
$blue: #435796;

$grid-gutter-width: 10px;

//Install Bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// background


.bg {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(/Users/kirbymunson/Documents/code/2.2-sass-bootstrap/images/bg.jpg);

    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#base {
  background: $red;
  display: inline-block;
  height: 56px;
  margin-left: 20px;
  margin-top: 55px;
    position: relative;
    width: 135px;
}
#base:before {
  border-bottom: 28px solid transparent;
  border-top: 28px solid transparent;
  border-left: 20px solid $red;
  content: "";
  height: 0;
  left: 135px;
  position: absolute;
  top: 0px;
  width: 0;
}

div.arrow {
  position: absolute;
  top:40%;
  left: 160px;
}

div.arrow span {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  color: $white;
  vertical-align: middle;
  line-height: 55px;
  padding-left: 5px;
}


// content

// nav

span.sub {
  display: inline;
  color: white;
  text-transform: uppercase;
}

.social {
  li {
    display: inline;
  }
  div {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 5px 0px 2px 5px;
    border-bottom: 3px solid rgba(167, 171, 176, .3);
  }
}

.social ul {
  padding: 0;
}

.fa {
  color: white;
  padding: 2px 2px 2px 2px;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.orange {
  background-color: $orange;
}

.lightblue {
  background-color: $lightblue;
}

.navigation{
  div.button{
    padding: 4px 4px 12px 4px;
    display: inline-block;
  }
    ul {
      list-style: none;
      -webkit-padding-start: 0;
    }
    li{
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
    }
    a {
      display: inline-block;
      color: $white;
      text-decoration: none;
      background-color: $red;
      width: 165px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      border-bottom: 3px solid rgba(167, 171, 176, .3);

      &::before,
      &::after {
        content: "\2014";
            color: $white;
            padding: 0 10px;
      }
    }
}

li.square {
  border-radius: 0;
  border-color: $red;
}


.square {
  color: white;
}

.anchor1,
.anchor2,
.anchor3 {
  margin-right: 5px;
}



// header

div.top {
  padding-bottom: 10px;
}

div.circles {
  display: table;
  margin: 0 auto;
}
.fa-circle {
  color:white;
  margin: 0 auto;
}

.header {
  background-image: url("images/top-image.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 90px -85px;
  height: 220px;
  max-width: 100%;
  border: 6px solid white;
  position: relative;
  &:before {
    content: "";
    background-image: url('images/grid.png');

    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }

}

.logo_sticker {
  position: relative;
  width:320px;
  padding: 20px 10px 10px 20px;
}


// cards

.cardwidth span.date {
 font-size: 15px;
 color: #ddd;
}

div.cards {
  height: 275px;
}

.cardwidth span.title {
  font-size: 20px;
}

.white {
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.white a {
  display: block;
  color: $red;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

div.car-1 {
  display: inline-block;
  padding: 5px 5px 5px 0;
}

div.car-2 {
  display: inline-block;
  padding: 5px 5px;
}


div.car-3 {
  display: inline-block;
  padding: 5px 0px 5px 5px;
}


// skaters

.border4 {
  padding:10px 10px 10px 0;
}

.border3 {
  padding:10px 10px 10px 0;
}

.border1 {
  padding:0 10px 10px 0;
}

.border2 {
  padding:10px 5px 10px 0;
}

div.four {
  background-image: url('images/sk8er-4.png');
  background-size: cover;
  color: $white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  border: 4px solid white;
  background-position: top right, 0px 0px;
  background-size: 130%;
  height: 150px;
  padding-top: 15px;
}

div.three {
  background-image: url('images/sk8er-3.png');
  background-size: cover;
  color: $white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  background-size: 120%;
  border: 4px solid white;
  height: 150px;
  padding-top: 15px;
}

div.one {
  background-image: url('images/sk8er-1.png');
  background-size: cover;
  color: $white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  border: 4px solid white;
  background-size: 100%;
  background-position: 0px -60px;
  height: 150px;
}

div.one h2 {
  line-height: 100px;
  vertical-align: middle;
}

div.two {
  background-image: url('images/sk8er-2.png');
  background-size: cover;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  border: 4px solid white;
  font-family: 'Archivo Black', sans-serif;
  height: 310px;
  background-size: 240%;
  background-position: 300px -10px;
  padding-top: 85px;
}

//skateboards


.skateboards {
  width: 100%;
  margin-bottom: 10px;
}

.skateboards ul {
  width: 100%;
  margin: 0 auto;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

.skateboards li {
  display: inline;
  padding: 0 10px 0 10px
}

.skateboards img {
  width: 6%;
}

.skatewhite {
    background-color: white;
    padding: 10px 0px 10px 40px;

}

//form

.whiteform {
  background-color: white;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

button.submit {
  background-color: $red;
  width: 165px;
  height: 30px;
  color: white;
  line-height: 23px;
  vertical-align: middle;
  border-radius: 0;
  text-align: center;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
}

 @media (max-width: 450px) {
   div.skateboards,
   .skateboards img {
     display: none;
   }
 }

//   .skateboards img {
//     display: block;
//     transform: rotate(90deg);
//     width: 15%;
//     margin: -130px auto;
//   }
// }
